/* CSS for index.html */
body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.navbar {
    background-color: white;
    border-bottom: 2px solid black;
    padding: 0.2rem 2rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: #364f6b;
}

.navbar ul li {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
}

.btn {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
    background-color: #3f72af;
}

.btn:hover {
    background-color: #fc5185;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
}

section {
    padding-top: 12rem;
}

#LandingPage img {
    width: 80%;
}

h1,
h3,
h5 {
    color: #364f6b;
}

.card-img-top {
    padding: 0 2rem;
}

.card-text {
    font-size: 1.2rem;
    color: #364f6b;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.img-fluid {
    width: 60%;
}

#Contact {
    padding: 1.5rem 0;
    background-color: #dedede;
}

.fa {
    text-decoration: none;
    color: black;
}

/* CSS for more.html */
#Benefits .img_benefits {
    width: 100%;
    background-color: #dedede;
    border-radius: 50%;
}

#Team {
    margin-bottom: 3rem;
}

#Team img {
    border-radius: 50%;
}

#Team h5 {
    background-color: white;
    border: 0;
}