* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(244, 244, 244);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#home {
    padding-top: 18vh;
}

#home img {
    width: 30%;
    padding: 1.2rem;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 10;
    border-bottom: 1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0 2vw;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #fc5185;
    transition: 0.4s;
    background-color: azure;
    border-radius: 0.5rem;
    padding: 1vh 2vw;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 3vw;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 0.5rem;
    margin-left: 1vw;
    padding: 1.5vh 1vw;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    padding: 1.5vh 1vw;
    text-decoration: none;
    color: whitesmoke;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 5vh;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#services {
    padding-top: 17.5vh;
}

.tengah {
    text-align: center;
    width: 100%;
}

.service-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-service {
    width: 25%;
    margin: 0 auto;
}

.kartu-service img {
    width: 80%;
}

.kartu-service p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
    background-color: #dedede;
    margin: 0 5%;
    border-radius: 1rem;
}

#payment {
    padding-top: 15.5vh;
}

.payment-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-payment {
    width: 25%;
    margin: 0 auto;
}

.kartu-payment img {
    width: 55%;
    margin: 0 auto;
    justify-content: space-evenly;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-section {
    width: 25%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 3vh;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.footer-section .fab {
    display: block;
    color: black;
    padding: 0.5rem;
}

.footer-section .fab i {
    margin-left: 1.5vw;
    font-style: normal;
    font-family: sans-serif;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 5vh 0;
    background-color: rgb(83, 81, 81);
    color: whitesmoke;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    #payment {
        padding-bottom: 16vh;
    }

    #home img {
        width: 60%;
        margin: 0 auto;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-service {
        width: 50%;
    }

    .kartu-payment {
        width: 25%;
    }

    h3 {
        font-size: 1.5rem;
    }

}