@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
    font-family: 'comic sans ms';
    color: #262626;
    margin: 5% 0;
}

.container {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1.5rem;
}

form {
    flex: 4;
}

.Yorder {
    flex: 2;
}

.title {
    background: linear-gradient(#fff, #eee, #dadada);
    padding: 1rem;
    color: #364f6b;
    text-align: center;
}

.required {
    color: red;
}

label,
table {
    display: block;
    margin: 1rem;
}

label>span {
    float: left;
    width: 25%;
    margin-top: 0.6vh;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select {
    width: 70%;
    height: 6vh;
    padding: 1vh 0.8vw;
    margin: 1vh 0;
    border: 1px solid #dadada;
    color: #888;
}

select {
    width: 70%;
    height: 6vh;
    padding: 1vh 0.8vw;
}

.Yorder {
    margin-top: 2.7vh;
    height: fit-content;
    padding: 0 1vw 0 2vw;
    border: 1px solid #dadada;
}

th {
    border-bottom: 1px solid #dadada;
    padding: 1vh 0;
}

tr>td:nth-child(2) {
    color: #364f6b;
}

td {
    border-bottom: 1px solid #dadada;
    padding: 0.8rem;
}

.Yorder>div {
    padding: 1.5vh 0;
}

button {
    width: 95%;
    padding: 1.5vh 0;
    margin: 3vh 0 5vh 0;
    border: none;
    border-radius: 1rem;
    background: #3f72af;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #fc5185;
    padding: 1.5vh 0;
    color: whitesmoke;
    transition: 0.5s;
}